body {
    font-family: 'open-sans', sans-serif;
}

#header-bg {
    background: url("../img/header-bg.jpg") no-repeat center center;
    background-size: cover;
}

#header-bg, section {
    min-height: 100vh;
}

.hobbies-img {
    background: url("../img/hobbies-bg.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
}
.jumbotron {
    background: transparent;
}

.portrait {
    margin-bottom: 30px;
    border: 4px solid white;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.29);
}

.profile-cont {
    margin-top: 10%;
}
.circle {
    border-radius: 50%;
}

.hobby {
    height: 140px;
    width: 140px;
    background-color: rgba(225,225,225,0.3);
    border: 2px solid white;
    color: white;
    font-size: 24px;
    margin: 20px 20px;
}
.ib {
    display: inline-block;
    margin-top: 12%;
}
.hobbies {
    text-align: center;
}

.hobby-center {
    position: relative;
    top: 33%;
}

.name, .prof {
    color: #fff !important;

}

.name {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.prof {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
}

.header-info {
    text-align: center;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
}

section h1 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}


@media(max-width:768px) {
    .header-info {
        left: 0;
    }
    .ib {
        margin-top: 5%;
    }
    .hobbies-img {
        height: 600px;
    }
}

@media(max-width:1445px) {
    .name {
        font-size: 40px !important;
    }
}